<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @customer.customer_name %>
</p>

<p>
  <strong>Customer mobile:</strong>
  <%= @customer.customer_mobile %>
</p>

<p>
  <strong>Customer email:</strong>
  <%= @customer.customer_email %>
</p>

<p>
  <strong>Customer address:</strong>
  <%= @customer.customer_address %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
