<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="movie_shows.css" rel="stylesheet">

<div class="movie-ticket">
  <div class="container-fluid">
    <!-- Item -->
    <div class="ui-item">
      <!-- Head -->
      <div class="ui-head">
        <!-- Background Image -->
        <!-- <img src="https://via.placeholder.com/800x400/48D1CC/000000" alt="" class="img-responsive bg-img"> -->
        <!-- Transparent Background -->
        <div class="ui-trans clearfix">
          <!-- Image -->
          <img src="https://via.placeholder.com/300x300/87CEFA/000000" alt="" class="img-responsive">
          <!-- Details -->
          <div class="ui-details clearfix">
            <!-- Movie Name -->
            <h2><a href="#"><%= @movie_show.movie_name %></a></h2>
            <!-- Labels -->
            <a href="#" class="label">2014</a>
            <a href="#" class="label"></a>
            <a href="#" class="label"><%= @movie_show.movie_hour %></a>
            <a href="#" class="label"><%= @movie_show.movie_type %></a>
            <a href="#" class="label">Adventures</a>
            <!-- Paragraph -->
            <p>Nemo enim ipsam volup tatem quia volup tas sit asper natur aut odit aut fugit volup quia volup tas sit asper natur aut odit aut fugit volup tatem sequi nesc iunt.</p>
            <!-- Heading -->
            <h4><span><%= @movie_show.movie_date %></span>:</h4>
            <h4><span><%= @movie_show.movie_language %></span>:</h4>
            <h5><a href="#"> Joss Whedon (screenplay), Zak Penn (story)</a></h5>
            <!-- Heading -->
          </div>
        </div>
      </div>
        <!-- Review -->
        <div class="ui-review">
          <!-- Heading -->
          <h3><%=@movie_show.movie_name %></h3>
          <!-- Paragraph -->
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <!-- Buttons -->
           <%= link_to "Book Tickets", showing_movie_shows_path, :class =>" ui-btn bg-red fa fa-ticket" %>
          <!-- <a href="" class="ui-btn bg-red"><i class="fa fa-ticket"></i> Buy Tickets</a> -->
        </div>
      </div>  
    </div>
</div>                            
<div class="btn btn-dark">
<% if has_role? :admin  %>
<%= link_to 'Edit', edit_movie_show_path(@movie_show) %>
<% end %> 
 <%= link_to 'Back', movie_shows_path %>
</div>
